@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  display: flex;
  white-space: nowrap;
  animation: slide 10s linear infinite;
}

.flex {
  /* Asegúrate de que el contenedor ocupe al menos el doble de ancho */
  min-width: 300%;
}
