---
import { Footer } from './Footer';
import { Navbar } from './Navbar';
import "../styles/global.css"

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Nerd Studio Design, Branding, Web Development" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/assets/icon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" href="../styles/global.css" />

	</head>
	<body>
        <Navbar />
			<main class="mt-[88px]">
				<slot />
			</main>
		<Footer />
	</body>
</html>